***This Notebook is created to describe and perform basic data engineering on the Raw mimic dataset. This will be usefull to demnostrate the patient's readmission in the real time dataset.***

# Import Libraries

In [58]:
import os
import pandas as pd
import sweetviz as sv

# Load Data
1. Admission
2. Diagnosis
3. EDStays

In [73]:
admission_data = pd.read_csv('Data/admissions.csv')
diagnosis_data = pd.read_csv('Data/diagnosis.csv')
edstays_data = pd.read_csv('Data/edstays.csv')
vital_data = pd.read_csv('Data/vitalsign.csv')
print(admission_data.shape)
display(admission_data.head())
print(diagnosis_data.shape)
display(diagnosis_data.head())
print(edstays_data.shape)
display(edstays_data.head())
print(vital_data.shape)
display(vital_data.head())

(431231, 16)

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,ENGLISH,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

(899050, 6)

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title
0,10000032,32952584,1,4589,9,HYPOTENSION NOS
1,10000032,32952584,2,07070,9,UNSPECIFIED VIRAL HEPATITIS C WITHOUT HEPATIC ...
2,10000032,32952584,3,V08,9,ASYMPTOMATIC HIV INFECTION
3,10000032,33258284,1,5728,9,"OTH SEQUELA, CHR LIV DIS"
4,10000032,33258284,2,78959,9,OTHER ASCITES

(425087, 9)

,subject_id,hadm_id,stay_id,intime,outtime,gender,race,arrival_transport,disposition
0,10000032,22595853.0,33258284,2180-05-06 19:17:00,2180-05-06 23:30:00,F,WHITE,AMBULANCE,ADMITTED
1,10000032,22841357.0,38112554,2180-06-26 15:54:00,2180-06-26 21:31:00,F,WHITE,AMBULANCE,ADMITTED
2,10000032,25742920.0,35968195,2180-08-05 20:58:00,2180-08-06 01:44:00,F,WHITE,AMBULANCE,ADMITTED
3,10000032,29079034.0,32952584,2180-07-22 16:24:00,2180-07-23 05:54:00,F,WHITE,AMBULANCE,HOME
4,10000032,29079034.0,39399961,2180-07-23 05:54:00,2180-07-23 14:00:00,F,WHITE,AMBULANCE,ADMITTED

(1564610, 11)

,subject_id,stay_id,charttime,temperature,heartrate,resprate,o2sat,sbp,dbp,rhythm,pain
0,10000032,32952584,2180-07-22 16:36:00,NaN,83.0,24.0,97.0,90.0,51.0,NaN,0
1,10000032,32952584,2180-07-22 16:43:00,NaN,85.0,22.0,98.0,76.0,39.0,NaN,0
2,10000032,32952584,2180-07-22 16:45:00,NaN,84.0,22.0,97.0,75.0,39.0,NaN,0
3,10000032,32952584,2180-07-22 17:56:00,NaN,84.0,20.0,99.0,86.0,51.0,NaN,NaN
4,10000032,32952584,2180-07-22 18:37:00,98.4,86.0,20.0,98.0,65.0,37.0,NaN,NaN

In [87]:
vital_data.sort_values(['subject_id', 'charttime'], inplace=True)
vital_data.head(29)

,subject_id,stay_id,charttime,temperature,heartrate,resprate,o2sat,sbp,dbp,rhythm,pain
7,10000032,33258284,2180-05-06 23:04:00,97.7,79.0,16.0,98.0,107.0,60.0,NaN,0
10,10000032,38112554,2180-06-26 18:42:00,97.9,76.0,18.0,95.0,95.0,64.0,NaN,5
11,10000032,38112554,2180-06-26 20:54:00,97.9,86.0,17.0,93.0,96.0,57.0,NaN,NaN
0,10000032,32952584,2180-07-22 16:36:00,NaN,83.0,24.0,97.0,90.0,51.0,NaN,0
1,10000032,32952584,2180-07-22 16:43:00,NaN,85.0,22.0,98.0,76.0,39.0,NaN,0
2,10000032,32952584,2180-07-22 16:45:00,NaN,84.0,22.0,97.0,75.0,39.0,NaN,0
3,10000032,32952584,2180-07-22 17:56:00,NaN,84.0,20.0,99.0,86.0,51.0,NaN,NaN
4,10000032,32952584,2180-07-22 18:37:00,98.4,86.0,20.0,98.0,65.0,37.0,NaN,NaN
5,10000032,32952584,2180-07-22 18:38:00,NaN,85.0,16.0,99.0,83.0,45.0,NaN,0
6,10000032,32952584,2180-07-22 19:47:00,98.2,85.0,18.0,98.0,81.0,38.0,NaN,0
12,10000032,39399961,2180-07-23 07:19:00,NaN,79.0,18.0,93.0,86.0,57.0,NaN,asleep
13,10000032,39399961,2180-07-23 07:20:00,NaN,78.0,18.0,95.0,88.0,57.0,NaN,unable
14,10000032,39399961,2180-07-23 08:30:00,NaN,78.0,18.0,94.0,82.0,55.0,NaN,uta
15,10000032,39399961,2180-07-23 09:02:00,NaN,94.0,16.0,95.0,73.0,51.0,NaN,unable
16,10000032,39399961,2180-07-23 09:28:00,98.1,86.0,18.0,94.0,93.0,54.0,NaN,uta
17,10000032,39399961,2180-07-23 10:01:00,NaN,81.0,18.0,92.0,82.0,54.0,NaN,uta
18,10000032,39399961,2180-07-23 10:16:00,NaN,83.0,16.0,92.0,76.0,48.0,NaN,uta
19,10000032,39399961,2180-07-23 10:46:00,NaN,83.0,14.0,96.0,93.0,46.0,NaN,u
20,10000032,39399961,2180-07-23 11:35:00,NaN,92.0,16.0,95.0,83.0,49.0,NaN,asleep
21,10000032,39399961,2180-07-23 11:51:00,99.0,93.0,16.0,95.0,84.0,40.0,NaN,asleep
22,10000032,39399961,2180-07-23 12:54:00,NaN,96.0,18.0,97.0,86.0,45.0,NaN,asleep
8,10000032,35968195,2180-08-05 23:50:00,98.5,96.0,17.0,100.0,102.0,58.0,NaN,NaN
9,10000032,35968195,2180-08-06 01:07:00,98.1,91.0,18.0,99.0,98.0,60.0,NaN,NaN
23,10000084,35203156,2160-11-20 20:39:00,97.5,78.0,16.0,100.0,114.0,71.0,NaN,0
24,10000084,35203156,2160-11-21 00:46:00,98.0,67.0,18.0,95.0,137.0,76.0,NaN,0
25,10000084,35203156,2160-11-21 02:35:00,98.0,68.0,16.0,96.0,103.0,74.0,NaN,0
26,10000084,36954971,2160-12-27 18:34:00,98.7,80.0,16.0,95.0,111.0,72.0,NaN,0
27,10000084,36954971,2160-12-27 21:04:00,98.5,70.0,18.0,98.0,109.0,69.0,NaN,NaN
28,10000084,36954971,2160-12-27 23:45:00,97.7,77.0,18.0,100.0,120.0,70.0,NaN,NaN

In [90]:
vital_data.groupby(['subject_id', 'stay_id'])[['temperature','heartrate','resprate','o2sat','sbp','dbp']].mean()

                     temperature   heartrate   resprate       o2sat  \
subject_id stay_id
10000032   32952584       98.300   84.571429  20.285714   98.000000
           33258284       97.700   79.000000  16.000000   98.000000
           35968195       98.300   93.500000  17.500000   99.500000
           38112554       97.900   81.000000  17.500000   94.000000
           39399961       98.550   85.727273  16.909091   94.363636
...                          ...         ...        ...         ...
19999784   37972930       97.850   79.250000  16.500000   99.250000
19999828   30712109       98.825   74.666667  17.333333   99.333333
           32917002       97.700  104.714286  16.000000   97.000000
19999914   32002659       99.500   81.000000  10.000000  100.000000
19999987   34731548       99.300  108.666667  18.666667         NaN

                            sbp        dbp
subject_id stay_id
10000032   32952584   79.428571  42.857143
           33258284  107.000000  60.000000
           35968195  100.000000  59.000000
           38112554   95.500000  60.500000
           39399961   84.181818  50.545455
...                         ...        ...
19999784   37972930  142.500000  83.500000
19999828   30712109   95.555556  63.888889
           32917002  119.428571  79.000000
19999914   32002659   93.000000  55.000000
19999987   34731548  118.000000  81.333333

[408146 rows x 6 columns]

# Map Dataset together

## Vitals and Diagnosis

In [76]:
diag_vital_data = pd.merge(diagnosis_data, vital_data, how='left', on='stay_id')
print(diag_vital_data.shape)
diag_vital_data.tail(100)

(3410516, 16)

,subject_id_x,stay_id,seq_num,icd_code,icd_version,icd_title,subject_id_y,charttime,temperature,heartrate,resprate,o2sat,sbp,dbp,rhythm,pain
3410416,19999464,34571984,1,R51,10,Headache,19999464.0,2171-08-01 18:33:00,98.6,58.0,16.0,100.0,100.0,64.0,NaN,NaN
3410417,19999464,34571984,2,K5190,10,"Ulcerative colitis, unspecified, without compl...",19999464.0,2171-08-01 15:13:00,97.0,85.0,16.0,100.0,114.0,69.0,NaN,8
3410418,19999464,34571984,2,K5190,10,"Ulcerative colitis, unspecified, without compl...",19999464.0,2171-08-01 18:33:00,98.6,58.0,16.0,100.0,100.0,64.0,NaN,NaN
3410419,19999466,30402875,1,R451,10,Restlessness and agitation,19999466.0,2116-08-30 12:12:00,98.8,80.0,16.0,100.0,175.0,114.0,NaN,0
3410420,19999466,30402875,1,R451,10,Restlessness and agitation,19999466.0,2116-08-30 15:22:00,97.7,77.0,16.0,97.0,173.0,123.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3410511,19999828,32917002,2,Z7984,10,Long term (current) use of oral hypoglycemic d...,19999828.0,2149-01-08 17:10:00,98.1,109.0,15.0,96.0,111.0,78.0,NaN,NaN
3410512,19999914,32002659,1,R4182,10,"Altered mental status, unspecified",19999914.0,2158-12-24 11:43:00,99.5,81.0,10.0,100.0,93.0,55.0,NaN,0
3410513,19999987,34731548,1,431,9,INTRACEREBRAL HEMORRHAGE,19999987.0,2145-11-02 19:40:00,NaN,112.0,18.0,NaN,118.0,83.0,NaN,NaN
3410514,19999987,34731548,1,431,9,INTRACEREBRAL HEMORRHAGE,19999987.0,2145-11-02 20:11:00,NaN,111.0,18.0,NaN,123.0,82.0,NaN,unable
3410515,19999987,34731548,1,431,9,INTRACEREBRAL HEMORRHAGE,19999987.0,2145-11-02 21:51:00,99.3,103.0,20.0,NaN,113.0,79.0,Sinus Tachycardia,unable

In [60]:
diag_edstay_data = pd.merge(diagnosis_data, edstays_data, how='left', on='stay_id')
print(diag_edstay_data.shape)
diag_edstay_data.tail(100)

(899050, 14)

,subject_id_x,stay_id,seq_num,icd_code,icd_version,icd_title,subject_id_y,hadm_id,intime,outtime,gender,race,arrival_transport,disposition
898950,19998350,39259698,4,Z7984,10,Long term (current) use of oral hypoglycemic d...,19998350,NaN,2136-02-22 04:27:00,2136-02-22 10:53:00,M,BLACK/AFRICAN AMERICAN,WALK IN,HOME
898951,19998350,39259698,5,I10,10,Essential (primary) hypertension,19998350,NaN,2136-02-22 04:27:00,2136-02-22 10:53:00,M,BLACK/AFRICAN AMERICAN,WALK IN,HOME
898952,19998350,39393355,1,25080,9,DIAB W MANIF NEC ADULT,19998350,NaN,2129-11-16 17:26:00,2129-11-16 20:45:00,M,BLACK/AFRICAN AMERICAN,WALK IN,HOME
898953,19998350,39393355,2,6826,9,CELLULITIS OF LEG,19998350,NaN,2129-11-16 17:26:00,2129-11-16 20:45:00,M,BLACK/AFRICAN AMERICAN,WALK IN,HOME
898954,19998444,31817420,1,5770,9,ACUTE PANCREATITIS,19998444,21096018.0,2155-06-03 21:34:00,2155-06-03 22:42:42,M,WHITE,WALK IN,ADMITTED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899045,19999828,30712109,1,K632,10,Fistula of intestine,19999828,29734428.0,2147-07-17 17:18:00,2147-07-18 17:34:00,F,WHITE,WALK IN,ADMITTED
899046,19999828,32917002,1,E1110,10,Type 2 diabetes mellitus with ketoacidosis wit...,19999828,25744818.0,2149-01-08 09:11:00,2149-01-08 18:12:00,F,WHITE,AMBULANCE,ADMITTED
899047,19999828,32917002,2,Z7984,10,Long term (current) use of oral hypoglycemic d...,19999828,25744818.0,2149-01-08 09:11:00,2149-01-08 18:12:00,F,WHITE,AMBULANCE,ADMITTED
899048,19999914,32002659,1,R4182,10,"Altered mental status, unspecified",19999914,NaN,2158-12-24 11:41:00,2158-12-24 11:56:00,F,UNKNOWN,UNKNOWN,ELOPED
899049,19999987,34731548,1,431,9,INTRACEREBRAL HEMORRHAGE,19999987,23865745.0,2145-11-02 19:28:00,2145-11-02 22:59:00,F,UNKNOWN,AMBULANCE,ADMITTED

In [61]:
diag_edstay_data.columns

Index(['subject_id_x', 'stay_id', 'seq_num', 'icd_code', 'icd_version',
       'icd_title', 'subject_id_y', 'hadm_id', 'intime', 'outtime', 'gender',
       'race', 'arrival_transport', 'disposition'],
      dtype='object')

In [62]:
merged_data = pd.merge(admission_data, diag_edstay_data, how='left', on='hadm_id')
merged_data.drop(['subject_id_x', 'subject_id_y', 'race_y'], inplace=True, axis=1)
merged_data.rename(columns={'race_x':'race'}, inplace=True)
print(merged_data.shape)
merged_data.tail(100)

(651163, 26)

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,stay_id,seq_num,icd_code,icd_version,icd_title,intime,outtime,gender,arrival_transport,disposition
651063,19998444,28856468,2156-10-29 02:38:00,2156-10-29 11:20:00,NaN,EU OBSERVATION,P172D4,EMERGENCY ROOM,NaN,Other,...,37532433.0,1.0,78906,9.0,ABDOMINAL PAIN EPIGASTRIC,2156-10-28 22:31:00,2156-10-29 04:03:00,M,WALK IN,ADMITTED
651064,19998444,29729593,2156-01-13 09:40:00,2156-01-15 12:23:00,NaN,EU OBSERVATION,P72G4H,EMERGENCY ROOM,NaN,Medicaid,...,38125477.0,1.0,78906,9.0,ABDOMINAL PAIN EPIGASTRIC,2156-01-13 06:11:00,2156-01-13 10:55:00,M,WALK IN,ADMITTED
651065,19998497,21557581,2145-07-24 23:31:00,2145-08-01 13:04:00,NaN,EW EMER.,P4507L,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,...,35230154.0,1.0,78650,9.0,CHEST PAIN NOS,2145-07-24 17:30:00,2145-07-25 00:50:00,F,AMBULANCE,ADMITTED
651066,19998497,24819607,2139-09-09 13:01:00,2139-09-10 15:30:00,NaN,URGENT,P85Q3X,PROCEDURE SITE,HOME,Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651067,19998497,25178709,2140-08-29 18:11:00,2140-09-01 15:05:00,NaN,EW EMER.,P612YK,EMERGENCY ROOM,HOME,Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651158,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,NaN,EW EMER.,P75BG6,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Other,...,32917002.0,2.0,Z7984,10.0,Long term (current) use of oral hypoglycemic d...,2149-01-08 09:11:00,2149-01-08 18:12:00,F,AMBULANCE,ADMITTED
651159,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,NaN,EW EMER.,P16C7J,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,...,30712109.0,1.0,K632,10.0,Fistula of intestine,2147-07-17 17:18:00,2147-07-18 17:34:00,F,WALK IN,ADMITTED
651160,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,EW EMER.,P58A9J,EMERGENCY ROOM,DIED,Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651161,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,EW EMER.,P506DE,EMERGENCY ROOM,HOME,Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651162,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,EW EMER.,P09IS0,EMERGENCY ROOM,REHAB,Other,...,34731548.0,1.0,431,9.0,INTRACEREBRAL HEMORRHAGE,2145-11-02 19:28:00,2145-11-02 22:59:00,F,AMBULANCE,ADMITTED

In [63]:
merged_data['admittime'] = pd.to_datetime(merged_data['admittime'])
merged_data['dischtime'] = pd.to_datetime(merged_data['dischtime'])
merged_data['admitdate'] = merged_data['admittime'].dt.date
merged_data.sort_values('admittime', inplace=True)
merged_data.tail(100)

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,seq_num,icd_code,icd_version,icd_title,intime,outtime,gender,arrival_transport,disposition,admitdate
614360,19437861,23539755,2210-06-26 16:00:00,2210-06-30 17:30:00,NaN,OBSERVATION ADMIT,P99YFT,PHYSICIAN REFERRAL,HOME,Medicare,...,2.0,I313,10.0,Pericardial effusion (noninflammatory),2210-06-26 11:42:00,2210-06-26 17:11:00,F,WALK IN,ADMITTED,2210-06-26
244342,13774741,27575074,2210-07-15 13:09:00,2210-07-23 12:53:00,NaN,EW EMER.,P54Q2B,WALK-IN/SELF REFERRAL,HOME HEALTH CARE,Other,...,1.0,R51,10.0,Headache,2210-07-14 21:46:00,2210-07-15 13:10:01,F,WALK IN,ADMITTED,2210-07-15
275520,14253680,27409182,2210-07-15 22:53:00,2210-07-19 16:15:00,NaN,OBSERVATION ADMIT,P12GMU,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2210-07-15
171331,12648465,22241351,2210-07-20 03:56:00,2210-09-16 02:00:00,2210-09-16 02:00:00,EW EMER.,P780JP,PHYSICIAN REFERRAL,DIED,Other,...,3.0,R4182,10.0,"Altered mental status, unspecified",2210-07-19 17:54:00,2210-07-20 03:57:02,F,AMBULANCE,ADMITTED,2210-07-20
171332,12648465,22241351,2210-07-20 03:56:00,2210-09-16 02:00:00,2210-09-16 02:00:00,EW EMER.,P780JP,PHYSICIAN REFERRAL,DIED,Other,...,4.0,R5381,10.0,Other malaise,2210-07-19 17:54:00,2210-07-20 03:57:02,F,AMBULANCE,ADMITTED,2210-07-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127209,11973788,23238116,2212-01-28 12:08:00,2212-02-01 17:48:00,NaN,EW EMER.,P81MDY,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,2.0,D62,10.0,Acute posthemorrhagic anemia,2212-01-27 20:34:00,2212-01-28 13:17:00,F,WALK IN,ADMITTED,2212-01-28
127208,11973788,23238116,2212-01-28 12:08:00,2212-02-01 17:48:00,NaN,EW EMER.,P81MDY,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,...,1.0,K922,10.0,"Gastrointestinal hemorrhage, unspecified",2212-01-27 20:34:00,2212-01-28 13:17:00,F,WALK IN,ADMITTED,2212-01-28
127221,11973788,29492711,2212-04-06 12:13:00,2212-04-12 14:06:00,NaN,OBSERVATION ADMIT,P81MDY,PHYSICIAN REFERRAL,HOME,Medicare,...,3.0,R0600,10.0,"Dyspnea, unspecified",2212-04-05 23:23:00,2212-04-06 14:20:00,F,AMBULANCE,ADMITTED,2212-04-06
127220,11973788,29492711,2212-04-06 12:13:00,2212-04-12 14:06:00,NaN,OBSERVATION ADMIT,P81MDY,PHYSICIAN REFERRAL,HOME,Medicare,...,2.0,I259,10.0,"Chronic ischemic heart disease, unspecified",2212-04-05 23:23:00,2212-04-06 14:20:00,F,AMBULANCE,ADMITTED,2212-04-06
127219,11973788,29492711,2212-04-06 12:13:00,2212-04-12 14:06:00,NaN,OBSERVATION ADMIT,P81MDY,PHYSICIAN REFERRAL,HOME,Medicare,...,1.0,D649,10.0,"Anemia, unspecified",2212-04-05 23:23:00,2212-04-06 14:20:00,F,AMBULANCE,ADMITTED,2212-04-06

In [64]:
useful_cols = ['subject_id', 'hadm_id', 'stay_id', 'admittime', 'dischtime', 'admission_type', 'admission_location', 
               'discharge_location', 'insurance', 'marital_status', 'race', 'icd_title', 'gender', 'arrival_transport', 
               'disposition', 'admitdate']

In [65]:
merged_data = merged_data[useful_cols]

In [66]:
merged_data.iloc[:,:10].head()

,subject_id,hadm_id,stay_id,admittime,dischtime,admission_type,admission_location,discharge_location,insurance,marital_status
449223,16904137,21081215,NaN,2105-10-04 17:26:00,2105-10-12 11:11:00,URGENT,TRANSFER FROM HOSPITAL,HOME,Other,MARRIED
270559,14178262,24686846,NaN,2106-02-06 20:18:00,2106-02-07 09:31:00,EU OBSERVATION,EMERGENCY ROOM,NaN,Medicaid,SINGLE
130375,12024697,20302177,NaN,2109-12-14 22:50:00,2110-01-15 14:53:00,EW EMER.,EMERGENCY ROOM,REHAB,Other,MARRIED
347513,15350437,20383396,39042378.0,2110-01-11 08:02:00,2110-01-12 18:45:00,EU OBSERVATION,TRANSFER FROM HOSPITAL,NaN,Other,SINGLE
528664,18106347,24305596,NaN,2110-01-11 10:14:00,2110-01-15 17:31:00,EW EMER.,PACU,HOME HEALTH CARE,Other,DIVORCED

In [67]:
merged_data.columns

Index(['subject_id', 'hadm_id', 'stay_id', 'admittime', 'dischtime',
       'admission_type', 'admission_location', 'discharge_location',
       'insurance', 'marital_status', 'race', 'icd_title', 'gender',
       'arrival_transport', 'disposition', 'admitdate'],
      dtype='object')

In [68]:
merged_data.iloc[:,9:].head()

,marital_status,race,icd_title,gender,arrival_transport,disposition,admitdate
449223,MARRIED,OTHER,NaN,NaN,NaN,NaN,2105-10-04
270559,SINGLE,HISPANIC OR LATINO,NaN,NaN,NaN,NaN,2106-02-06
130375,MARRIED,WHITE,NaN,NaN,NaN,NaN,2109-12-14
347513,SINGLE,WHITE,"Sixth [abducent] nerve palsy, left eye",M,AMBULANCE,ADMITTED,2110-01-11
528664,DIVORCED,WHITE,NaN,NaN,NaN,NaN,2110-01-11

In [69]:
merged_data

,subject_id,hadm_id,stay_id,admittime,dischtime,admission_type,admission_location,discharge_location,insurance,marital_status,race,icd_title,gender,arrival_transport,disposition,admitdate
449223,16904137,21081215,NaN,2105-10-04 17:26:00,2105-10-12 11:11:00,URGENT,TRANSFER FROM HOSPITAL,HOME,Other,MARRIED,OTHER,NaN,NaN,NaN,NaN,2105-10-04
270559,14178262,24686846,NaN,2106-02-06 20:18:00,2106-02-07 09:31:00,EU OBSERVATION,EMERGENCY ROOM,NaN,Medicaid,SINGLE,HISPANIC OR LATINO,NaN,NaN,NaN,NaN,2106-02-06
130375,12024697,20302177,NaN,2109-12-14 22:50:00,2110-01-15 14:53:00,EW EMER.,EMERGENCY ROOM,REHAB,Other,MARRIED,WHITE,NaN,NaN,NaN,NaN,2109-12-14
347513,15350437,20383396,39042378.0,2110-01-11 08:02:00,2110-01-12 18:45:00,EU OBSERVATION,TRANSFER FROM HOSPITAL,NaN,Other,SINGLE,WHITE,"Sixth [abducent] nerve palsy, left eye",M,AMBULANCE,ADMITTED,2110-01-11
528664,18106347,24305596,NaN,2110-01-11 10:14:00,2110-01-15 17:31:00,EW EMER.,PACU,HOME HEALTH CARE,Other,DIVORCED,WHITE,NaN,NaN,NaN,NaN,2110-01-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127209,11973788,23238116,37355521.0,2212-01-28 12:08:00,2212-02-01 17:48:00,EW EMER.,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,MARRIED,WHITE - OTHER EUROPEAN,Acute posthemorrhagic anemia,F,WALK IN,ADMITTED,2212-01-28
127208,11973788,23238116,37355521.0,2212-01-28 12:08:00,2212-02-01 17:48:00,EW EMER.,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicare,MARRIED,WHITE - OTHER EUROPEAN,"Gastrointestinal hemorrhage, unspecified",F,WALK IN,ADMITTED,2212-01-28
127221,11973788,29492711,33494247.0,2212-04-06 12:13:00,2212-04-12 14:06:00,OBSERVATION ADMIT,PHYSICIAN REFERRAL,HOME,Medicare,MARRIED,WHITE - OTHER EUROPEAN,"Dyspnea, unspecified",F,AMBULANCE,ADMITTED,2212-04-06
127220,11973788,29492711,33494247.0,2212-04-06 12:13:00,2212-04-12 14:06:00,OBSERVATION ADMIT,PHYSICIAN REFERRAL,HOME,Medicare,MARRIED,WHITE - OTHER EUROPEAN,"Chronic ischemic heart disease, unspecified",F,AMBULANCE,ADMITTED,2212-04-06
127219,11973788,29492711,33494247.0,2212-04-06 12:13:00,2212-04-12 14:06:00,OBSERVATION ADMIT,PHYSICIAN REFERRAL,HOME,Medicare,MARRIED,WHITE - OTHER EUROPEAN,"Anemia, unspecified",F,AMBULANCE,ADMITTED,2212-04-06

In [70]:
merged_data[merged_data.subject_id==10101282][['subject_id', 'hadm_id', 'stay_id', 'icd_title']]

,subject_id,hadm_id,stay_id,icd_title
6077,10101282,22072446,35195252.0,"Major depressive disorder, single episode, uns..."
6078,10101282,22072446,35195252.0,Suicidal ideations
6080,10101282,25540971,39516466.0,Unspecified abdominal pain
6082,10101282,26211213,37539900.0,"Dyspnea, unspecified"
6081,10101282,26211213,37539900.0,"Chest pain, unspecified"
6083,10101282,26871657,37693125.0,"Major depressive disorder, single episode, uns..."
6079,10101282,23064100,NaN,NaN
6073,10101282,21025113,39721159.0,Suicidal ideations
6072,10101282,21025113,39721159.0,"Major depressive disorder, single episode, uns..."
6074,10101282,21025113,39721159.0,Human immunodeficiency virus [HIV] disease
6076,10101282,21896492,35744550.0,"Alcohol abuse with intoxication, unspecified"
6075,10101282,21896492,35744550.0,"Difficulty in walking, not elsewhere classified"

In [4]:
admin_diag_data['admittime'] = pd.to_datetime(admin_diag_data['admittime'])
admin_diag_data['dischtime'] = pd.to_datetime(admin_diag_data['dischtime'])
admin_diag_data['admitdate'] = admin_diag_data['admittime'].dt.date
admin_diag_data.sort_values('admittime', inplace=True)
admin_diag_data.tail(100)

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,race,edregtime,edouttime,hospital_expire_flag,stay_id,seq_num,icd_code,icd_version,icd_title,admitdate
3805052,16573705,26923952,2212-01-12 23:47:00,2212-01-17 18:17:00,NaN,EW EMER.,P450WM,WALK-IN/SELF REFERRAL,HOME HEALTH CARE,Other,...,WHITE,2212-01-12 12:47:00,2212-01-13 01:18:00,0,33788009.0,3.0,I10,10.0,Essential (primary) hypertension,2212-01-12
3805053,16573705,26923952,2212-01-12 23:47:00,2212-01-17 18:17:00,NaN,EW EMER.,P450WM,WALK-IN/SELF REFERRAL,HOME HEALTH CARE,Other,...,WHITE,2212-01-12 12:47:00,2212-01-13 01:18:00,0,34048700.0,1.0,J189,10.0,"Pneumonia, unspecified organism",2212-01-12
3805048,16573705,26923952,2212-01-12 23:47:00,2212-01-17 18:17:00,NaN,EW EMER.,P450WM,WALK-IN/SELF REFERRAL,HOME HEALTH CARE,Other,...,WHITE,2212-01-12 12:47:00,2212-01-13 01:18:00,0,33600059.0,1.0,5990,9.0,URIN TRACT INFECTION NOS,2212-01-12
3805047,16573705,26923952,2212-01-12 23:47:00,2212-01-17 18:17:00,NaN,EW EMER.,P450WM,WALK-IN/SELF REFERRAL,HOME HEALTH CARE,Other,...,WHITE,2212-01-12 12:47:00,2212-01-13 01:18:00,0,33271299.0,1.0,N390,10.0,"Urinary tract infection, site not specified",2212-01-12
3805046,16573705,26923952,2212-01-12 23:47:00,2212-01-17 18:17:00,NaN,EW EMER.,P450WM,WALK-IN/SELF REFERRAL,HOME HEALTH CARE,Other,...,WHITE,2212-01-12 12:47:00,2212-01-13 01:18:00,0,32659789.0,2.0,5990,9.0,URIN TRACT INFECTION NOS,2212-01-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114320,11973788,29492711,2212-04-06 12:13:00,2212-04-12 14:06:00,NaN,OBSERVATION ADMIT,P81MDY,PHYSICIAN REFERRAL,HOME,Medicare,...,WHITE - OTHER EUROPEAN,2212-04-05 23:23:00,2212-04-06 14:20:00,0,37455351.0,2.0,W1830XA,10.0,"Fall on same level, unspecified, initial encou...",2212-04-06
1114321,11973788,29492711,2212-04-06 12:13:00,2212-04-12 14:06:00,NaN,OBSERVATION ADMIT,P81MDY,PHYSICIAN REFERRAL,HOME,Medicare,...,WHITE - OTHER EUROPEAN,2212-04-05 23:23:00,2212-04-06 14:20:00,0,37455351.0,3.0,R55,10.0,Syncope and collapse,2212-04-06
1114322,11973788,29492711,2212-04-06 12:13:00,2212-04-12 14:06:00,NaN,OBSERVATION ADMIT,P81MDY,PHYSICIAN REFERRAL,HOME,Medicare,...,WHITE - OTHER EUROPEAN,2212-04-05 23:23:00,2212-04-06 14:20:00,0,37455351.0,4.0,E109,10.0,Type 1 diabetes mellitus without complications,2212-04-06
1114324,11973788,29492711,2212-04-06 12:13:00,2212-04-12 14:06:00,NaN,OBSERVATION ADMIT,P81MDY,PHYSICIAN REFERRAL,HOME,Medicare,...,WHITE - OTHER EUROPEAN,2212-04-05 23:23:00,2212-04-06 14:20:00,0,38464630.0,1.0,I480,10.0,Paroxysmal atrial fibrillation,2212-04-06
1114325,11973788,29492711,2212-04-06 12:13:00,2212-04-12 14:06:00,NaN,OBSERVATION ADMIT,P81MDY,PHYSICIAN REFERRAL,HOME,Medicare,...,WHITE - OTHER EUROPEAN,2212-04-05 23:23:00,2212-04-06 14:20:00,0,39054420.0,1.0,I480,10.0,Paroxysmal atrial fibrillation,2212-04-06

In [5]:
admin_diag_data.shape

(5702494, 22)

In [28]:
df = admin_diag_data.groupby('subject_id')[['admitdate','hadm_id']].count().reset_index()
df[df.subject_id==10101282]

      subject_id  admitdate  hadm_id
1762    10101282        210      210

In [37]:
admin_diag_data[admin_diag_data.subject_id==10101282]

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,race,edregtime,edouttime,hospital_expire_flag,stay_id,seq_num,icd_code,icd_version,icd_title,admitdate
37896,10101282,22072446,2161-09-26 18:21:00,2161-09-27 14:43:00,NaN,EU OBSERVATION,P056IR,WALK-IN/SELF REFERRAL,NaN,Medicare,...,WHITE,2161-09-26 13:27:00,2161-09-27 14:43:00,0,37539900.0,2.0,R0600,10.0,"Dyspnea, unspecified",2161-09-26
37894,10101282,22072446,2161-09-26 18:21:00,2161-09-27 14:43:00,NaN,EU OBSERVATION,P056IR,WALK-IN/SELF REFERRAL,NaN,Medicare,...,WHITE,2161-09-26 13:27:00,2161-09-27 14:43:00,0,36572197.0,3.0,C469,10.0,"Kaposi's sarcoma, unspecified",2161-09-26
37893,10101282,22072446,2161-09-26 18:21:00,2161-09-27 14:43:00,NaN,EU OBSERVATION,P056IR,WALK-IN/SELF REFERRAL,NaN,Medicare,...,WHITE,2161-09-26 13:27:00,2161-09-27 14:43:00,0,36572197.0,2.0,B20,10.0,Human immunodeficiency virus [HIV] disease,2161-09-26
37892,10101282,22072446,2161-09-26 18:21:00,2161-09-27 14:43:00,NaN,EU OBSERVATION,P056IR,WALK-IN/SELF REFERRAL,NaN,Medicare,...,WHITE,2161-09-26 13:27:00,2161-09-27 14:43:00,0,36572197.0,1.0,J189,10.0,"Pneumonia, unspecified organism",2161-09-26
37891,10101282,22072446,2161-09-26 18:21:00,2161-09-27 14:43:00,NaN,EU OBSERVATION,P056IR,WALK-IN/SELF REFERRAL,NaN,Medicare,...,WHITE,2161-09-26 13:27:00,2161-09-27 14:43:00,0,35988309.0,1.0,30000,9.0,ANXIETY STATE NOS,2161-09-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37863,10101282,21896492,2162-09-09 23:28:00,2162-09-10 05:24:00,NaN,EU OBSERVATION,P46FLS,PHYSICIAN REFERRAL,NaN,Medicare,...,WHITE,2162-09-09 17:07:00,2162-09-10 05:24:00,0,36572197.0,2.0,B20,10.0,Human immunodeficiency virus [HIV] disease,2162-09-09
37864,10101282,21896492,2162-09-09 23:28:00,2162-09-10 05:24:00,NaN,EU OBSERVATION,P46FLS,PHYSICIAN REFERRAL,NaN,Medicare,...,WHITE,2162-09-09 17:07:00,2162-09-10 05:24:00,0,36572197.0,3.0,C469,10.0,"Kaposi's sarcoma, unspecified",2162-09-09
37866,10101282,21896492,2162-09-09 23:28:00,2162-09-10 05:24:00,NaN,EU OBSERVATION,P46FLS,PHYSICIAN REFERRAL,NaN,Medicare,...,WHITE,2162-09-09 17:07:00,2162-09-10 05:24:00,0,37539900.0,2.0,R0600,10.0,"Dyspnea, unspecified",2162-09-09
37869,10101282,21896492,2162-09-09 23:28:00,2162-09-10 05:24:00,NaN,EU OBSERVATION,P46FLS,PHYSICIAN REFERRAL,NaN,Medicare,...,WHITE,2162-09-09 17:07:00,2162-09-10 05:24:00,0,37693125.0,1.0,F329,10.0,"Major depressive disorder, single episode, uns...",2162-09-09
37865,10101282,21896492,2162-09-09 23:28:00,2162-09-10 05:24:00,NaN,EU OBSERVATION,P46FLS,PHYSICIAN REFERRAL,NaN,Medicare,...,WHITE,2162-09-09 17:07:00,2162-09-10 05:24:00,0,37539900.0,1.0,R079,10.0,"Chest pain, unspecified",2162-09-09

In [29]:
add_data = admission_data.copy(deep=True)
add_data.shape

(431231, 16)

In [30]:
add_data['admittime'] = pd.to_datetime(add_data['admittime'])
add_data['dischtime'] = pd.to_datetime(add_data['dischtime'])
add_data['admitdate'] = add_data['admittime'].dt.date
add_data.sort_values('admittime', inplace=True)
add_data.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag,admitdate
297457,16904137,21081215,2105-10-04 17:26:00,2105-10-12 11:11:00,NaN,URGENT,P60ZCO,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,MARRIED,OTHER,NaN,NaN,0,2105-10-04
179462,14178262,24686846,2106-02-06 20:18:00,2106-02-07 09:31:00,NaN,EU OBSERVATION,P66TM6,EMERGENCY ROOM,NaN,Medicaid,ENGLISH,SINGLE,HISPANIC OR LATINO,2106-02-06 15:47:00,2106-02-07 09:31:00,0,2106-02-06
86235,12024697,20302177,2109-12-14 22:50:00,2110-01-15 14:53:00,NaN,EW EMER.,P38V7W,EMERGENCY ROOM,REHAB,Other,ENGLISH,MARRIED,WHITE,2109-12-14 19:31:00,2109-12-15 01:56:00,0,2109-12-14
230245,15350437,20383396,2110-01-11 08:02:00,2110-01-12 18:45:00,NaN,EU OBSERVATION,P65DYX,TRANSFER FROM HOSPITAL,NaN,Other,ENGLISH,SINGLE,WHITE,2110-01-11 03:43:00,2110-01-11 08:41:00,0,2110-01-11
349959,18106347,24305596,2110-01-11 10:14:00,2110-01-15 17:31:00,NaN,EW EMER.,P41R5N,PACU,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,NaN,NaN,0,2110-01-11

In [31]:
add_data.subject_id.value_counts()

subject_id
15496609    238
15464144    185
10714009    163
16662316    142
15229574    130
           ...
13236973      1
19608909      1
19870130      1
14677665      1
12953653      1
Name: count, Length: 180733, dtype: int64

In [32]:
add_data.groupby('subject_id')['admitdate'].count()

subject_id
10000032     4
10000068     1
10000084     2
10000108     1
10000117     2
            ..
19999733     1
19999784    18
19999828     2
19999840     2
19999987     1
Name: admitdate, Length: 180733, dtype: int64

In [33]:
df = add_data.groupby('subject_id')[['admitdate','hadm_id']].count().reset_index()
df[df.admitdate>50]

        subject_id  admitdate  hadm_id
2148      10123949         56       56
4676      10264646         86       86
5568      10312715         51       51
10248     10577647         79       79
10263     10578325         71       71
...            ...        ...      ...
165083    19133405         79       79
173735    19610016         59       59
175569    19713100         64       64
176354    19759225         76       76
179320    19921471         58       58

[87 rows x 3 columns]

In [35]:
df[df.subject_id==10101282]

      subject_id  admitdate  hadm_id
1762    10101282          7        7

In [ ]:
10101282

In [40]:
report = sv.analyze(add_data)
report.show_html(os.path.join(os.getcwd(), 'Report/readmission.html'))

                                             |                                             | [  0%]   00:00 ->…

Report G:\My Drive\Work\FactiHealth\factihealth\Version_1_1\Readmissions\Codes\Report/readmission.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.